.shopSearch {
    float: right;
    margin: -45px 0 0 0
}

.shopSearch .input {
    float: left;
    border: solid 1px #fff;
    width: 100px
}

.shopSearch .btn {
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    margin-left: 10px
}

ul.prodList {
    margin: 0;
    list-style: none;
    zoom: 1;
    clear: left
}

ul.prodList:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

ul.prodList li a.thumb:hover img {
    opacity: .7
}

ul.threeWide li {
    float: left;
    margin: 0 0 35px 0;
    width: 33%;
    text-align: center
}

ul.threeWide li .thumb {
    display: block;
    padding-bottom: 10px
}

ul.threeWide li .thumb .imgHolder {
    display: inline-block;
    width: 90%;
    position: relative
}

ul.threeWide li .thumb img {
    width: 100%;
    height: auto
}

ul.threeWide li h4 {
    padding: 0 20px;
    margin: 0 0 5px 0
}

ul.threeWide li .pricing {
    font-weight: bold
}

ul.oneWide li.medObj {
    overflow: visible
}

ul.oneWide li.medObj:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

ul.oneWide li.medObj .thumb {
    position: relative
}

ul.prodList li a.thumb:hover img.sash {
    opacity: 1
}

ul.threeWide li .thumb img.sash {
    width: 70%;
    position: absolute;
    top: -6%;
    left: -6%
}

ul.oneWide li.medObj .thumb img.sash {
    width: 106px;
    position: absolute;
    top: -9px;
    left: -9px
}

ul.oneWide li .cont h3 {
    margin-bottom: 5px
}

ul.oneWide li .pricing {
    font-size: 1.7em;
    font-weight: bold
}

ul.oneWide li .more {
    padding-top: 8px
}

.id25 h2.alt,
.id25 h2 a {
    color: #dc133d
}

.prodItem {
    margin: -10px -2.79% 25px -2.79%;
    padding: 10px 2.79% 0 2.79%;
    overflow: hidden;
    zoom: 1
}

.prodItem .images {
    float: left;
    width: 170px;
    margin: 0 0 25px 0
}

.prodItem .images ul {
    margin: 0;
    list-style: none;
    zoom: 1
}

.prodItem .images ul:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

.prodItem .images ul li {
    float: left;
    margin: 0 10px 10px 0;
    position: relative
}

.prodItem .images ul li .sash {
    position: absolute;
    top: -9px;
    left: -9px
}

.prodItem .images ul li .MagicZoomPlus img,
.prodItem .images ul li a.hrefDisabled img {
    width: 150px
}

.prodItem .images ul li a.hrefDisabled,
.prodItem .images ul li a.hrefDisabled:hover {
    cursor: default
}

.prodItem h3 {
    margin-bottom: 5px
}

.prodItem ul.stock {
    margin: 8px 0 25px 0;
    list-style: none
}

.prodItem ul.stock li {
    display: none
}

.prodItem ul.stock li .btn {
    margin-right: 10px
}

.prodItem ul.bundleStock li {
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    background: url(/_static/local/images/dot-divide.gif) repeat-x left bottom;
    zoom: 1
}

.prodItem ul.bundleStock li:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

.prodItem .pricing {
    font-size: 2.3em;
    font-weight: bold;
    padding: 15px 0 20px 0
}

.prodItem .pricing .previous {
    color: #8a8a8a;
    text-decoration: line-through
}

.prodItem .pricing .previous0 {
    display: none
}

.prodItem .buy select {
    float: left;
    margin-right: 10px;
    margin-top: 3px
}

.prodItem .buy .btn {
    float: left
}

.prodItem .buy strong.bundleName {
    float: left;
    padding-top: 6px
}

.flyout {
    clear: both
}

.flyout div {
    background: #1a1a1a url(/_static/local/images/tile-msg.png) left top;
    padding: 20px 20px 5px 20px;
    margin-top: 10px
}

table.shopTracks {
    border-collapse: collapse
}

table.shopTracks tr td {
    padding: 5px 0;
    vertical-align: middle
}

table.shopTracks tr td.buyCell {
    width: 100px;
    text-align: center
}

table.shopTracks tr.baseRow td {
    background: #1a1a1a url(/_static/local/images/tile-msg.png) left top
}

table.shopTracks .selected {
    background: url(/_static/local/images/head-lens.png)
}

.coBasketWrap td .prodThumb,
.coOrderSummary .prodThumb {
    float: left;
    margin: 0 10px 0 0
}

.coBasketWrap td .prodTitle {
    display: block
}

.coBasketWrap td .updqtyinput {
    width: 20px;
    text-align: center
}

.coBasketWrap td.basketRemove {
    text-align: center
}

.coBasketCosts {
    text-align: right;
    font-family: 'Oswald', "Trebuchet MS", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 2.2em;
    text-transform: uppercase
}

.coBasketShipping {
    color: #8a8a8a;
    font-size: 1.2em
}

.coBasketTotal {
    color: #dc143b;
    font-size: 2.1em;
    padding: 3px 0
}

.coBasketTotalVat {
    color: #fff;
    font-size: 1.2em;
    padding: 0
}

.coProceed {
    margin: 25px 0;
    background: #1a1a1a url(/_static/local/images/tile-msg.png) left top;
    padding: 10px;
    zoom: 1;
    clear: both
}

.coProceed:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

.coProceed .btnContinue {
    float: left
}

.coProceed .btnProceed {
    float: right
}

.coCheckout {
    zoom: 1
}

.coCheckout:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

.coFormPanel {
    float: left;
    width: 48%;
    margin: 0 0 25px 0
}

.coCheckout .input {
    width: 200px
}

.coCheckout .remove {
    display: block;
    padding-top: 6px
}

.coNewCustomer,
.coBilling,
.coBasketCosts,
.coPromos,
.coOrderTotal,
.coTerms {
    float: right
}

.coOrderTotal {
    clear: right
}

.coAddConf {
    padding-top: 35px
}

.coDeliveryOptions .coSplitOne {
    padding-bottom: 35px
}

.coDeliveryOptions .coSplitOne label {
    float: none;
    width: auto
}

.coTerms {
    clear: right
}

.coTerms input {
    float: left;
    margin: 0 10px 20px 0
}

.coOrderTotal .inner {
    font-family: 'Oswald', "Trebuchet MS", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase
}

.coOrderTotal .inner label {
    padding: 0;
    margin: -1px 0 10px 0;
    width: 160px
}

.coOrderTotal .inner .totalAmount {
    color: #dc143b
}

.coPromos .input {
    float: left;
    margin-right: 5px
}

.coPromos .btn {
    height: 25px;
    line-height: 25px
}

.coPaymentDetails .coOrderTotal {
    width: 100%
}

.coPaymentDetails .coOrderTotal .amount {
    color: #dc143b
}

.coPaymentDetails .coPaymentDetails {
    width: 100%
}

.coPaymentDetails .coPaymentDetails .coSplitOne {
    float: left;
    width: 48%
}

.coPaymentDetails .coPaymentDetails .coSplitTwo {
    float: right;
    width: 48%
}

.coPaymentDetails .coPaypalBtn {
    text-align: right;
    padding-bottom: 10px
}

.coCheckoutConfirmation .coFormPanel {
    width: 100%
}

.coCheckoutConfirmation .coStoreDetails {
    width: 100%
}

.coCheckoutConfirmation .coOrderSummary label {
    padding: 0;
    font-weight: bold;
    clear: left;
    margin: 0;
    line-height: 1.2em
}

a.tooltip {
    cursor: help
}

a.tooltip b {
    display: none
}

a.tooltip:hover {
    border: 0;
    position: relative;
    z-index: 500;
    text-decoration: none
}

a.tooltip:hover b {
    display: block;
    position: absolute;
    top: 8px;
    left: 20px;
    padding: 5px;
    font-weight: normal;
    color: #fff;
    border: 5px solid #000;
    background: #000;
    width: 230px;
    text-decoration: none;
    font-size: 95%
}

.coAccount .input {
    width: 160px
}

.coAccount select {
    width: 170px
}

.coAccount .coAddresses,
.coAccount .coNewAddress {
    width: 100%
}

ol.progressList {
    margin: 0 0 25px 0;
    padding: 10px 0;
    border: solid 1px #656565;
    border-width: 1px 0;
    zoom: 1
}

ol.progressList:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

ol.progressList li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 1.2em;
    font-family: 'Oswald', "Trebuchet MS", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    list-style-position: inside;
    color: #888;
    background: url(/_static/local/images/progress-points.png) no-repeat right -32px;
    padding-right: 20px
}

ol.progressList li.on,
ol.progressList li a {
    color: #fff;
    font-weight: normal
}

ol.progressList li.on {
    background-position: right 4px
}

ol.progressList li.last {
    background-image: none
}

.co3dSecureframeWrapper {
    float: left;
    width: 430px
}

.co3dSecureInfo {
    padding-left: 450px;
    font-size: 120%
}

.co3dSecureHelpQuestions {
    clear: both
}

ul.co3dSecureHelpQuestions {
    list-style: none;
    list-style-type: none;
    border-bottom: 1px dotted #444;
    margin: 0;
    padding-top: 10px
}

div.co3dSecureframeWrapper {
    background: url(/_static/local/images/loading-whitebg.gif) center center no-repeat;
    height: 420px;
    width: 390px
}

iframe.co3dSecureframe {
    height: 420px;
    width: 390px;
    overflow: auto;
    border-width: 0
}

.faqHolder {
    zoom: 1
}

.faqHolder:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

.faqShippingDetails {
    float: left;
    width: 22%;
    margin-right: 15px;
    display: inline
}

.faqMain {
    float: left;
    width: 50%
}

.faqMain h1 {
    text-align: center
}

.faqOther {
    float: right;
    width: 23%
}

.faqNotes ul {
    margin: 0
}

.faqNotes ul li {
    margin: 0;
    list-style: none;
    list-style-type: none;
    color: red
}

.faqCards {
    text-align: center;
    margin-bottom: 15px
}

.faqCards img {
    width: 100%
}

.faqCards h2 {
    text-align: left
}

.faqCards .acceptedPayment {
    font-size: 130%
}

.faqHolder .btn {
    padding: 0 5px
}

.faqQuestions ul.questions {
    display: none
}

.faqQuestions ul.questionsOpen {
    display: block
}

.faqQuestions ul.section a.on,
.faqQuestions ul.questions a.on,
.faqTopList a.on {
    color: Red
}

.faqAnswer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px #fff;
    display: none
}

.faqAnswer .answerHolder,
.faqAnswer .feedbackThanks {
    display: none
}

.faqQuestions ul.section {
    margin: 0
}

.faqQuestions ul.section li.mainSection {
    list-style: none;
    list-style-type: none;
    border: 2px #999 solid;
    font-size: 110%;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.faqQuestions ul.section li.mainSection a {
    display: block;
    padding: 5px;
    background: #fff url(/_static/shared/images/faqs-arrow-right.gif) no-repeat top right
}

.faqQuestions ul.section li.mainSection a:hover {
    background-image: url(/_static/shared/images/faqs-arrow-down.gif)
}

.faqQuestions ul.section li.mainSection a.on {
    background-image: url(/_static/shared/images/faqs-arrow-down.gif)
}

.faqQuestions ul.questions {
    margin: 0
}

.faqQuestions ul.questions li.mainQuestion {
    list-style: none;
    list-style-type: none;
    width: 100%;
    margin: 0
}

.faqQuestions ul.questions li.mainQuestion a {
    background-image: none;
    background-color: #ececec
}

.faqQuestions ul.questions li.mainQuestion a:hover {
    background-image: none
}

.faqTopList ul {
    margin: 0
}

.faqTopList ul li {
    list-style-type: none;
    padding-bottom: 2px
}

.backToQs ul {
    margin: 0
}

.backToQs ul li {
    list-style: none;
    list-style-type: none;
    border: 2px #999 solid;
    font-size: 110%;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.backToQs ul li a,
.backToQs ul li a:hover {
    display: block;
    padding: 5px;
    background: #fff url(/_static/shared/images/faqs-arrow-left.gif) no-repeat top left;
    text-align: center
}

.helpful {
    margin-top: 10px;
    border-top: 1px #999 solid
}

.helpful p {
    height: 20px;
    line-height: 20px
}

.feedbackThanks {
    font-weight: bold
}

.contactBtn ul {
    margin: 0
}

.contactBtn ul li {
    list-style: none;
    list-style-type: none;
    border: 2px #999 solid;
    font-size: 110%;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.contactBtn ul li a,
.contactBtn ul li a:hover {
    display: block;
    padding: 5px;
    background: #fff;
    text-align: left
}

.contactForm {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 600px;
    margin: -310px 0 0 -310px;
    background: #fff;
    padding: 10px 20px;
    z-index: 101;
    text-align: left;
    color: #888;
    display: none
}

.contactFormInner {
    width: 584px;
    overflow: auto
}

.contactFormInner h2 {
    float: left
}

.contactFormInner h1,
.contactFormInner h2 {
    color: #dd153c
}

.contactFormInner label {
    float: left;
    width: 138px;
    text-align: right;
    margin-right: 5px
}

.contactFormInner .input {
    width: 420px
}

.contactFormInner .small {
    width: 164px
}

.contactFormInner textarea {
    height: 80px
}

.contactFormInner .btn {
    float: right;
    margin-right: 11px
}

.contactFormInner .contactFormNote {
    float: left;
    width: 550px
}

.contactFormInner .inputNote {
    color: #999
}

.contactFormInner .contactFieldPrompt {
    display: none;
    position: absolute;
    width: 408px;
    margin-left: 143px;
    background: #fff;
    border: solid 1px red;
    color: Red;
    padding: 0 10px 8px 10px
}

.contactFormInner .contactFieldPrompt .btn {
    float: left;
    margin-right: 5px
}

.contactForm .closeForm {
    position: absolute;
    z-index: 1005;
    top: 20px;
    right: 20px
}

.contactForm .contactNote {
    font-size: 80%;
    text-align: right;
    width: 345px;
    float: left
}

.contactOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15
}

.contactOverlay div {
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=70);
    opacity: .70;
    -ms-filter: "alpha(opacity=70)";
    left: 0;
    z-index: 15
}